@model List<MyElearningProject.DAL.Entities.Testimonial>

<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="section-title bg-white text-center text-primary px-3">Değerlendirmeler</h6>
            <h1 class="mb-5">Öğrencilerimiz Diyor!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            @foreach (var item in Model)
            {
            <div class="testimonial-item text-center">
                <img class="border rounded-circle p-2 mx-auto mb-3" src="@item.ImageUrl" style="width: 80px; height: 80px;">
                <h5 class="mb-0">@item.NameSurname</h5>
                <p>@item.Title</p>
                <div class="testimonial-text bg-light text-center p-4">
                    <p class="mb-0">@item.Comment</p>
                </div>
            </div>
            }
        </div>
    </div>
</div>
