@model List<MyElearningProject.DAL.Entities.Category>

<div class="container-xxl py-5 category">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Kategoriler</h6>
            <h1 class="mb-5">Kurs Kategorileri</h1>
        </div>
        <div class="row g-3">
            <div class="col-lg-12 col-md-12">   
                <div class="row g-3">
                    @foreach (var item in Model)
                    {
                    <div class="col-lg-4 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                        <a class="position-relative d-block overflow-hidden" href="">
                            <img class="img-fluid" src="@item.Image" alt="">
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                <h5 class="m-0">@item.CategoryName</h5>
                                <small class="text-primary">49 Kurs</small>
                            </div>
                        </a>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
