@model List<MyElearningProject.DAL.Entities.AboutPurpose>


<div class="row gy-2 gx-4 mb-4">
    @foreach (var item in Model)
    {
    <div class="col-sm-6">
        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>@item.Title</p>
    </div>
    }
</div>
<a class="btn btn-primary py-3 px-5 mt-2" href="">Devamını Oku</a>
            </div>
        </div>
    </div>
</div>
