@model List<MyElearningProject.DAL.Entities.Service>

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            @foreach (var item in Model)
            {
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="@item.Icon"></i>
                        <h5 class="mb-3">@item.Title</h5>
                        <p>@item.Description</p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
