@model List<MyElearningProject.DAL.Entities.Comment>

<div class="tab-pane active" id="home" role="tabpanel">
    <div class="card-block">
        <div class="profiletimeline">
            @foreach (var item in Model)
            {
            <div class="sl-item">
                <div class="sl-left"> <img src="https://elearningindustry.com/wp-content/uploads/2023/04/Shutterstock_1960099390.jpg" alt="user" class="img-circle"> </div>
                <div class="sl-right">
                    <div>
                        <a href="#" class="link">@item.Student.Name @item.Student.Surname</a> <span class="sl-date">@item.CommentDate</span>
                        <blockquote class="m-t-10">
                            @item.CommentText
                        </blockquote>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
