@model List<MyElearningProject.DAL.Entities.Course>

<div class="tab-pane" id="settings" role="tabpanel">
    <div class="card-block">
        @foreach (var item in Model)
        {
        <div class="sl-item">
            <div class="sl-left"></div>
            <div class="sl-right">
                <div>
                    <a href="#" class="link">@item.Instructor.Name @item.Instructor.Surname</a> <span class="sl-date">@item.Duration Dakika</span>
                    <div class="m-t-20 row">
                        <div class="col-md-3 col-xs-12"><img src="@item.ImageUrl" alt="user" class="img-responsive radius"></div>
                        <div class="col-md-9 col-xs-12">
                            <p> Lorem ipsum. </p> <a href="#" class="btn btn-success">Kursa Git </a>
                        </div>
                    </div>
                    <div class="like-comm m-t-20"> <a href="javascript:void(0)" class="link m-r-10">0 Yorum</a> <a href="javascript:void(0)" class="link m-r-10"><i class="fa fa-heart text-danger"></i> 4.7 Puan</a> </div>
                </div>
            </div>
        </div>
        <hr>
        }
    </div>
</div>