<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a class="waves-effect waves-dark" href="/Profile/Index/" aria-expanded="false"><i class="mdi mdi-face-profile"></i><span class="hide-menu">Profilim</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="pages-profile.html" aria-expanded="false"><i class="mdi mdi-pen"></i><span class="hide-menu">Kurslarım</span></a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="table-basic.html" aria-expanded="false"><i class="mdi mdi-shopping"></i><span class="hide-menu">Kurs Al</span></a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
    <!-- Bottom points-->
    <div class="sidebar-footer">
        <!-- item--><a href="" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
    </div>
    <!-- End Bottom points-->
</aside>
