
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br /><br />
<form method="post">
    <div class="container">
        <h3>Öğrenci Giriş Sayfası</h3>
        <label>Mail Adresiniz</label>
        <input type="text" class="form-control" name="Email" />
        <br />
        <label>Şifreniz</label>
        <input type="password" class="form-control" name="Password" />
        <br />
        <button class="btn btn-warning">Giriş Yap</button>
    </div>
</form>