@model List<MyElearningProject.DAL.Entities.Information>


@foreach (var item in Model)
{
    <h5>@item.Title</h5>
    <p class="mb-4">@item.Description <a href="https://htmlcodex.com/contact-form">Şimdi İndir</a>.</p>
}

