<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3">Hızlı Link</h4>
                <a class="btn btn-link" href="">Hakkımızda</a>
                <a class="btn btn-link" href="">Bize Ulaşın</a>
                <a class="btn btn-link" href="">Gizlilik Politikası</a>
                <a class="btn btn-link" href="">Şartlar & Koşullar</a>
                <a class="btn btn-link" href="">SSS & Yardım</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3">İletişim</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Yenişehir, Mersin, TR</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+090 552 678 0290</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>zehrakbulut23@gmail.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="https://www.linkedin.com/in/zehra-akbulut-5089231b9/"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3">Galeri</h4>
                <div class="row g-2 pt-2">
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="https://blogassets.leverageedu.com/blog/wp-content/uploads/2019/10/23170101/List-of-Professional-Courses-after-Graduation.gif" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="https://ontariocoursepreview.tvo.org/cdn/shop/t/6/assets/img-hero-coursecat.svg?v=139047362454786900271611358720" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="https://blogassets.leverageedu.com/blog/wp-content/uploads/2020/06/02135832/Short-term-Professional-Courses-after-Graduation.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="https://storage.googleapis.com/msgsndr/EUtpd6SMttm7a8swIWwh/media/63f6eaf3264e121fb5cdd2b0.jpeg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="https://www.howard-bison.com/wp-content/uploads/2022/03/Importance-and-benefits-of-writing-skills-development-course.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light p-1" src="https://elearningindustry.com/wp-content/uploads/2020/11/how-to-use-animation-for-online-courses.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-3">Bülten</h4>
                <p>Aramıza katılmak isterseniz üye olmakla başlayabilirsiniz.</p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                    <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Mail adresiniz...">
                    <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">Üye Ol</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">ZeYu</a>, Tüm Hakları Saklıdır.

                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a class="border-bottom" href="https://htmlcodex.com">Zehra</a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="">Ana Sayfa</a>
                        <a href="">Çerezler</a>
                        <a href="">Yardım</a>
                        <a href="">SSS</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
