<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>eLEARNING</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="index.html" class="nav-item nav-link active">Ana Sayfa</a>
            <a href="about.html" class="nav-item nav-link">Hakkımızda</a>
            <a href="courses.html" class="nav-item nav-link">Kurslar</a>
            <div class="nav-item dropdown">
                <div class="dropdown-menu fade-down m-0">
                    <a href="team.html" class="dropdown-item">Ekibimiz</a>
                    <a href="testimonial.html" class="dropdown-item">Referanslar</a>
                    <a href="404.html" class="dropdown-item">404 Sayfası</a>
                </div>
            </div>
            <a href="contact.html" class="nav-item nav-link">İletişim</a>
        </div>
        <a href="" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Giriş Yap<i class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>
    