@model MyElearningProject.DAL.Entities.AboutPurpose
@{
    ViewBag.Title = "UpdateAboutPurpose";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Amaç Güncelleme Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x=>x.AboutPurposeID)
    <br /><br />
    @Html.TextBoxFor(x=>x.Title, new { @class="form-control"})
    <br /><br />
    <button class="btn btn-primary">Güncelle</button>
</form>

