@model MyElearningProject.DAL.Entities.Student

<div class="tab-pane" id="profile" role="tabpanel">
    <div class="card-block">
        <div class="row">
            <div class="col-md-3 col-xs-6 b-r">
                <strong>Ad Soyad</strong>
                <br>
                <p class="text-muted">@Model.Name @Model.Surname</p>
            </div>
            <div class="col-md-3 col-xs-6 b-r">
                <strong>Mail</strong>
                <br>
                <p class="text-muted">@Model.Email</p>
            </div>
        </div>
        <hr>
    </div>
</div>
