@model List<MyElearningProject.DAL.Entities.CourseWatchList>
@{
    ViewBag.Title = "AddVideo";
    Layout = "~/Views/InstructorLayout/Index.cshtml";
}


<div class="container" style=" width: 100%; border: solid 1px #cdbdbd; height: 600px; overflow: auto; ">
    <h2>@ViewBag.courseName - Videolar</h2><hr />
    <div class="container " style="height: 450px; width:100%">
        @foreach (var item in Model)
        {
            <div class="container" style="width:33%; float:left">
                <iframe width="410" height="315" src="@item.VideoUrl" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><br />
                <a href="/InstructorCourse/DeleteCourseWatchList/@item.CourseWatchListID" style="width:410px" class="btn btn-outline-danger">Dersi Kaldır</a><br /><br /><br />
            </div>
        }

        <form method="post">
            <input type="hidden" name="CourseID" value="@ViewBag.id" />
            <label style="width:100%">Yeni Video Embed Url Linki</label>
            <input type="text" name="VideoUrl" class="form-control" />
            <br /><br />
            <button type="submit" class="btn btn-outline-primary">Videoyu Kaydet</button><br /><br />
        </form>
    </div>
</div>